body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: larger;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 200px;
    font-size: 50px;
}