body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: larger;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    grid-template-columns: '1 2';
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.main-content {
    grid-area: 1;
    padding: 50px;
    align-items: center;
}

.sidebar {
    display: flex;
    grid-area: 2;
    align-items: left;
    padding: 50px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}