<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style></style>
  <link rel="stylesheet" href="/style/access_denied.css">
</head>
<body>
    <main>
        <%- include ('header_polos') %>
        <h2>Akses ke halaman ini ditolak!</h2>
        <form action="/">
            <button type="submit">OK</button>
        </form>
    </main>
</body>
</html>