<!DOCTYPE html>
<html>
<head>
  <title>Table Example</title>
  <link rel="stylesheet" href="/style/customer_application_management.css">
</head>
<body>
    <%- include ('header_nasabah') %>
  <table class="table">
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
        </tr>
    </tbody>
  </table>
</body>
</html>