<!DOCTYPE html>
<html>
<head>
  <title>Credit Applicant Form</title>
  <link rel="stylesheet" href="/style/form_applicant.css">
  <style>
  </style>
</head>
<body>
  <%- include ('header') %>
  <h1> Sign Up</h1>
  <!-- <h2>Data Diri</h2> -->

  <form action="/signup" method="POST" enctype="multipart/form-data">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd" required>

    <label for="name">Nama Lengkap:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="NIK">NIK:</label>
    <input type="text" id="NIK" name="nik" required>
    
    <label for="dob">Tanggal Lahir:</label>
    <input type="date" name="dob" placeholder="Date of Birth">

    <label for="phone">Nomor HP:</label>
    <input type="tel" id="phone" name="phone" required>

    <label for="address">Alamat Domisili:</label>
    <input type="text" id="address" name="address" required>

    <label for="image1">KTP:</label>
    <input id="img_ktp" type="file" name="img_ktp" accept="image/*" required>

    <input type="submit" value="Submit">
  </form>
</body>
</html>