<!DOCTYPE html>
<html>
<head>
  <title>Credit Applicant Form</title>
  <link rel="stylesheet" href="/style/form_applicant.css">
  <style>
  </style>
</head>
<body>
  <%- include ('header') %>
  <h1>Credit Applicant Form</h1>
  <h2>Upload Dokumen</h2>

  <form action="/submit" method="POST">
    <label for="image1">KTP:</label>
    <input id="img_ktp" type="file" name="image1" accept="image/*" required>

    <label for="image2">NPWP:</label>
    <input id="img_npwp" type="file" name="image2" accept="image/*" required>

    <label for="image3">Foto Selfie:</label>
    <input id="img_selfie" type="file" name="image3" accept="image/*" required>

    <input type="submit" value="Submit">
  </form>
</body>
</html>