<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
  <link rel="stylesheet" href="/style/header.css">
</head>
<body>
    <main>
        <header>
            <div id="divlogo">
				<a href="/">
                    <img src="/images/bank.png" id="logo">
                </a>
			</div>
            <div id="nama_bank">
                BANK SEDERHANA
            </div>

        </header>
    </main>
</body>
</html>