<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
  <link rel="stylesheet" href="/style/header.css">
</head>
<body>
    <main>
        <header>
            <div id="divlogo">
                <a href="/nasabah/home">
                    <img src="/images/bank.png" id="logo">
                </a>
			</div>
            <div id="nama_bank">
                BANK SEDERHANA
            </div>
            <div id="home">
                <a href="/nasabah/home"> 
                    <u>
                        <b>
                            Home
                        </b>
                    </u>
                </a>
            </div>
            <div id="kelola_pinjaman">
                <a href="/nasabah/application_management"> 
                    <u>
                        <b>
                            Status Pinjaman
                        </b>
                    </u>
                </a>
            </div>
            <div id="logout" style="margin-left: auto; margin-right: 45px;">
                <form method="post" action="/logout">
                    <div style="display: flex;justify-content: end;align-items: end;">
                        <button type = "submit" id="keluar" style="width:100px;background-color: rgb(194, 40, 40);color: white;">Sign Out</button>
                    </div>
                </form>
            </div>
        </header>
    </main>
</body>
</html>