<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
  <link rel="stylesheet" href="/style/header.css">
</head>
<body>
    <main>
        <header>
            <div id="divlogo">
				<a href="/">
                    <img src="/images/bank.png" id="logo">
                </a>
			</div>
            <div id="nama_bank">
                BANK SEDERHANA
            </div>
            <div id="login" style="margin-left: auto; margin-right: 45px;">
                <form action="/login">
                    <div style="display: flex;justify-content: end;align-items: end;">
                        <button type = "submit" id="keluar" style="width:100px;background-color: rgb(198, 213, 30);color: white;">Sign In</button>
                    </div>
                </form>
            </div>
        </header>
    </main>
</body>
</html>