<!DOCTYPE html>
<html>
<head>
  <title>Admin Home Page</title>
  <link rel="stylesheet" href="/style/home_admin.css">
  <style>
  </style>
</head>
<body>
  <div class="container">
    <h2>Admin Home Page</h2>
    <p>Welcome, [Admin Name]!</p>
    <p>As an admin, you have access to the following functionalities:</p>
    <ul>
      <li><a href="user_management.html">User Management</a></li>
      <li><a href="loan_management.html">Loan Management</a></li>
      <li><a href="report_generation.html">Report Generation</a></li>
    </ul>
  </div>
</body>
</html>