<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style/home_officer.css">
  <style>
  </style>
</head>
<body>
  <%- include ('header_employee') %>
  <div class="container">
    <h2>Officer Home Page</h2>
    <p>Selamat Datang, Officer!</p>
    <form action="/officer/application_management">
      <button>Atur Pengajuan Kredit</button>
    </form>
  </div>
</body>
</html>