<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
    <main>
        <%- include ('header') %>
        <form action="/applicant_form">
            <button type="submit">Redirect form</button>
        </form>
    </main>
</body>
</html>