<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style></style>
  <link rel="stylesheet" href="/style/home_page.css">
</head>
<body>
    <main>
        <%- include ('header') %>
        <!-- <div class="header">
    <h1>Bank Sederhana</h1>
    <p>Selemat Datang!</p>
  </div> -->

  <div class="container">
    <div class="main-content">
      <h2>Selamat datang di Bank Sederhana</h2>
      <p>Kami menawarkan layanan pinjaman untuk memenuhi kebutuhan finansial Anda. </p>

      <p>Jelajahi layanan kami, pelajari pinjaman kredit kami yang memudahkan Anda dalam mengelola keuangan.</p>

      <p>Bergabunglah dengan Bank Sederhana hari ini dan rasakan layanan pinjaman kredit yang aman dan andal yang mengutamakan Anda.</p>

      <form action="/login">
        <center><button id='btn_ajukan' type="submit" style="margin-top: 50px;font-size: 16px;">Ajukan Sekarang!</button></center>
      </form>
    </div>

    <div class="sidebar">
      <img src="/images/home_page.jpg">
    </div>
  </div>

  <!-- <div class="footer">
    <p>&copy; 2023 Bank Sederhana. All rights reserved.</p>
  </div> -->
    </main>
</body>
</html>