<!DOCTYPE html>
<html>
<head>
  <title>Halaman Login</title>
  <link rel="stylesheet" href="/style/login.css">
  <style>
  </style>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter email">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter password">

      <button type="submit">Login</button>
      <a href="signup.html">Signup</a>
    </form>
  </div>
</body>
</html>