<!DOCTYPE html>
<html>
<head>
  <title>Officer Home Page</title>
  <link rel="stylesheet" href="/style/home_officer.css">
  <style>
  </style>
</head>
<body>
  <%- include ('header_nasabah') %>
    <h2>Pengajuan Berhasil! Silahkan kembali ke home</h2>
    <form action="/nasabah/home">
        <button>OK</button>
    </form>
</body>
</html>